//  mixin from the services block
@mixin font ($fs: 22px, $lh: 26px) {
    font-size: $fs;
    line-height: $lh;
}

@mixin font-red {
    font-size: 30px;
    line-height: 36px;
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    background-clip: text; 
    -webkit-text-fill-color: transparent;
}

@mixin text-decor {
    text-decoration: none;
    color: #24A3FF;
    font-weight: 700;
}

@mixin font-icon {
    background-color: #FFFFFF;
    border-radius: 24px;
    padding: 14px;
    height: 92px;
    width: 92px;
}

@mixin flex-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

@mixin radius {
    border-radius: 0 0 12px 12px;
}

@mixin content {
    content: '';
    position: absolute;
    left: 0;
    height: 10px; 
}

//  mixin from the partners block

@mixin filling ($bgc) {
    background-color: $bgc;
}

//  mixin from the footer block

@mixin footer-link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}