@use "./mixins";

.partner-title {
    display: flex;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    color: #323264;
    justify-content: center;
    margin-bottom: 30px;
}

.partners {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    &-link {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120px; 
    }

    &-hillel {
        @include mixins.filling(#1C4280);
    }

    &-wanna {
        @include mixins.filling(#143646);
    }

    &-tapgerine {
        @include mixins.filling(#F48B30);
    }
    &-look {
        @include mixins.filling(#9E4DC3);
    }
    &-orangear {
        @include mixins.filling(#FD9339);
    }
    &-adtelligent {
        @include mixins.filling(#E2E2E4);
    }
    &-clickky {
        @include mixins.filling(#C71C36);
    }
    &-ecolease {
        @include mixins.filling(#DCF3F9);
    }
    &-infa {
        @include mixins.filling(#EAEAEA);
    }
    &-siti {
        @include mixins.filling(#282240);
    }
    &-art {
        @include mixins.filling(#1D4568);
    }
    &-card {
        @include mixins.filling(#000000);
    }
}

@media (max-width: 768px) {
    .partners-link:nth-child(n + 7) {
        display: none;
    }
}

@media (min-width: 768px) {
    .partners {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    }
}

@media (min-width: 1920px) {
    .partners {
       width: 1720px;
       margin-left: auto;
       margin-right: auto;
       border-radius: 20px;
       overflow: hidden;
    }
}