@use './mixins';

.wrapper {
    padding-left: 30px;
    padding-right: 30px;
}

.cards-inner {
    @include mixins.flex-box;
    gap: 30px;
}

.services {
    &-link {
        @include mixins.font(14px, 17px);
        @include mixins.text-decor;
        
        &:hover  {
            color: #F0145A;
        }
    }

    &-title {
        @include mixins.font-red;
        margin-top: 10px;
        margin-bottom: 30px;
    }
}

.cards {
    &-back-color {
        background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
        @include mixins.radius;
        padding-bottom: 60px;
    }

    &-div {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    &-icon {
        display: inline-block;
        font-size: 64px;
        color: #F0145A;
        @include mixins.font-icon;
        margin-bottom: 30px
    }

    &-link {
        @include mixins.font;
        @include mixins.text-decor;
    }

    &-text {
        @include font(16px, 26px);
        color: #FFFFFF;
        margin-top: 15px;
        margin-bottom: 0;
    }
}

.line-container {
    position: relative;
    height: 20px;
}

.line-container::before,
.line-container::after {
    @include mixins.content;
}

.line-container::before {
    top: 0px;
    background-color: #CACADB;
    border-radius: 0 0 12px 12px;
    margin-left: 20px;
    margin-right: 20px; 
    width: calc(100% - 40px);
}

.line-container::after {
    bottom: 0;
    background-color: #E7E7F2;
    border-radius: 0 0 12px 12px;
    width: calc(100% - 80px);
    margin-left: 40px;
    margin-right: 40px; 
}

.services-link:hover .services-icon path {
    stroke: #F0145A;
}

@media (min-width: 768px) {
    .wrapper {
        padding-left: 60px;
        padding-right: 60px;
    }

    .services-title {
        font-size: 38px;
        line-height: 46px;
    }

    .cards-inner {
        gap: 60px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .cards-link {
        display: block;
    }
}

@media (min-width: 1024px) {
    .cards-inner {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media (min-width: 1920px) {

    .cards {
        // width: 1920px;
        margin-left: auto;
        margin-right: auto;
    }    
}