
.wrapper {
    padding-left: 30px;
    padding-right: 30px;
}

.slider {
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 60px;

    &-bloc {
        display: flex;
        transition-property: all;
        transition-duration: 1s;
        align-items: center;
        justify-content: start;
        gap: 50px;
    }

    &-cards {
        width: 100%;
        flex-shrink: 0;
        overflow: hidden;
    }

    &-div {
        position: relative;
        padding-bottom: 46px;
    }

    &-cards {
        background-color: #F5F5FA;
        border-radius: 12px 12px 30px 30px;
    }
    &-photo {
        width: 100%;
        height: 500px;
        display: block;
        object-fit: cover;
        object-position: center;
        border-radius: 12px 12px 0 0;
    }

    &-content {
        padding: 30px;
    }
    
    &-link {
        @include text-decor;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 5px;

        &:hover  {
            color: #F0145A;
        }
    }

    &-text {
        @include font-red;
        margin: 0 0 30px 0;
    }
    
    &-name {
        font-size: 16px;
        line-height: 20px;
        font-weight: 700;
        color: #B3B3BA;
        margin-top: 0;
        margin-bottom: 6px;
    }

    &-position {
        font-size: 14px;
        line-height: 22px;
        color: #B3B3BA;
        margin: 0;
    }
}


.slider-link:hover .slider-icon path {
    stroke: #F0145A;
}

.slider-radio:nth-last-of-type(3):checked ~ .slider-bloc {
    transform: translateX(0);
}

.slider-radio:nth-last-of-type(2):checked ~ .slider-bloc {
    transform: translateX(-115%);
}

.slider-radio:nth-last-of-type(1):checked ~ .slider-bloc {
    transform: translateX(-230%);
}

.slider-circles {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    display: flex;
}

.slider-circles label {
    border: 2px solid #24A3FF;
    background-color: #24A3FF;
    width: 16px;
    height: 16px;
    margin: 0 3px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.slider-radio:checked ~ .one {
    background-color: red;
}

input[type="radio"]{
   display: none;
}


@media (min-width: 450px) {
    .slider-bloc {
        gap: 100px;
    }

    .slider-radio:nth-last-of-type(3):checked ~ .slider-bloc {
        transform: translateX(0);
    }

    .slider-radio:nth-last-of-type(2):checked ~ .slider-bloc {
        transform: translateX(-125%);
    }

    .slider-radio:nth-last-of-type(1):checked ~ .slider-bloc {
        transform: translateX(-250%);
    }
}

@media (min-width: 540px) {
    .slider-bloc {
        gap: 100px;
    }

    .slider-radio:nth-last-of-type(3):checked ~ .slider-bloc {
        transform: translateX(0);
    }

    .slider-radio:nth-last-of-type(2):checked ~ .slider-bloc {
        transform: translateX(-120%);
    }

    .slider-radio:nth-last-of-type(1):checked ~ .slider-bloc {
        transform: translateX(-240%);
    }
}

@media (min-width: 768px) {
    .slider {
    padding-top: 60px;
    }

    .wrapper {
        padding-left: 60px;
        padding-right: 60px;
    }

    .slider-text {
        font-size: 38px;
        line-height: 46px;
    }

    .slider-bloc {
        gap: 100px;
    }

    .slider-photo {
        width: 648px;
    }

    .slider-radio:nth-last-of-type(3):checked ~ .slider-bloc {
        transform: translateX(0);
    }

    .slider-radio:nth-last-of-type(2):checked ~ .slider-bloc {
        transform: translateX(-115%);
    }

    .slider-radio:nth-last-of-type(1):checked ~ .slider-bloc {
        transform: translateX(-230%);
    }
}

@media (min-width: 1024px) {

    .slider-cards {
        display: flex;
    }

    .slider-photo {
        width: 400px;
        height: 528px;
        border-radius: 12px 0 0 12px;
    }

    .slider-content {
        border-radius: 0 12px 12px 0;
    }

    .slider-bloc {
        gap: 130px;
    }
}

@media (min-width: 1200px) {
    .slider-bloc {
        gap: 170px;
    }
}

@media (min-width: 1440px) {
    .slider-bloc {
        gap: 200px;
    }

    .slider-photo {
        height: 344px;
    }
}

@media (min-width: 1920px) {
    .slider-bloc {
        gap: 220px;
    }

    .wrapper {
        width: 1920px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 160px;
        padding-right: 160px;
    }  
    
    .slider-photo {
        height: 298px;
        object-fit: contain;
    }
}

