* {
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
}

.gradient-background {
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    background-size: cover;
    background-position: center;
}
